html{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
}

h1{
  text-align: center;
  color: hsla(0, 0%, 0%, 0.747);
}

.main-div{
  border: 1px dashed red;
  padding: 20px;
  border-radius: 15px;
}

.button-holder{
  display: flex;
  column-gap: 20px;
}