html{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
}

h1{
  text-align: center;
}

.button-holder{
  display: flex;
  column-gap: 20px;
}